.About {
    margin:0;
    .Main {
        display: flex;
        flex-direction: column;
        background-color: rgb(48, 48, 48);
        height: 100vh;
        width: 100%;

        .navbar {
            background-color: rgb(48, 48, 48);
            overflow: hidden;
            display: flex;
            height:8vh;

            .navbar-toggle {
                position: absolute;
                display:flex;
                cursor: pointer;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top:4vh;
                left: 4vh;

              }
              
              .bar {
                width: 50px;
                height: 5px;
                background-color: #fff;
                margin: 5px 0;
                transition: 0.4s;
              }

              .change .bar:nth-child(1) {
                -webkit-transform: rotate(-45deg) translate(-10px, 10px);
                transform: rotate(-45deg) translate(-10px, 10px);
                -moz-transform: rotate(-45deg) translate(-10px, 10px);
                -ms-transform: rotate(-45deg) translate(-10px, 10px);
                -o-transform: rotate(-45deg) translate(-10px, 10px);
}
            
              .change .bar:nth-child(2) {
                opacity: 0;
              }
            
              .change .bar:nth-child(3) {
                -webkit-transform: rotate(45deg) translate(-10px, -10px);
                transform: rotate(45deg) translate(-10px, -10px);
              }
              
              .navbar-menu {
                flex:5;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display:none; /* Initially hide the menu */
              }
              
              .navbar-menu.show {
                display: flex;
                justify-content: center;
                gap:100px;
                width:100%;
              }
              
              .navbar-menu li {
                float: left;
              }
              
              .navbar-menu li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size:30px;
              }
              
              .navbar-menu li a:hover {
                background-color: #111;
              }
          }
        .Content {
            flex:2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: top;
         
            .HeadText {
                text-align: center;
                color: rgb(196, 196, 196);
                font-size: 500%;
                font-weight: 900;
            }
            .Text {
                text-align: center;
                color: darkgrey;
                font-size: 300%;
            }
            a {
                text-decoration: none;
                color: #a7a7a7;
                
            }
        }
        .Footer {
            flex:1;
            display: flex;
            justify-content: center;
            gap:200px;
            align-items: center;
        }
    }

}

.Qual {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);

    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: rgb(196, 196, 196);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
      h1 {
          color: #333;
      }
      ul {
          list-style-type: none;
          padding: 0;
      }
      li {
          margin-bottom: 10px;
      }
      .qualification {
          background-color: darkgrey;
          padding: 10px;
          border-radius: 5px;
      }


      .navbar {
        background-color: rgb(48, 48, 48);
        overflow: hidden;
        display: flex;
        height:8vh;

        .navbar-toggle {
            position: absolute;
            display:flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top:4vh;
            left: 4vh;

          }
          
          .bar {
            width: 50px;
            height: 5px;
            background-color: #fff;
            margin: 5px 0;
            transition: 0.4s;
          }

          .change .bar:nth-child(1) {
            -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
            -moz-transform: rotate(-45deg) translate(-10px, 10px);
            -ms-transform: rotate(-45deg) translate(-10px, 10px);
            -o-transform: rotate(-45deg) translate(-10px, 10px);
}
        
          .change .bar:nth-child(2) {
            opacity: 0;
          }
        
          .change .bar:nth-child(3) {
            -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
          }
          
          .navbar-menu {
            flex:5;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display:none; /* Initially hide the menu */
          }
          
          .navbar-menu.show {
            display: flex;
            justify-content: center;
            gap:100px;
            width:100%;
          }
          
          .navbar-menu li {
            float: left;
          }
          
          .navbar-menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size:30px;
          }
          
          .navbar-menu li a:hover {
            background-color: #111;
          }
      }
}

.Contact {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: rgb(196, 196, 196);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  h1 {
      color: #333;
  }
  form {
      margin-top: 20px;
  }
  label {
      display: block;
      margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: darkgrey;;
  }
  textarea {
      height: 100px;
  }
  input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  }
  input[type="submit"]:hover {
      background-color: #0056b3;
  }



  .navbar {
    background-color: rgb(48, 48, 48);
    overflow: hidden;
    display: flex;
    height:8vh;

    .navbar-toggle {
        position: absolute;
        display:flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:4vh;
        left: 4vh;

      }
      
      .bar {
        width: 50px;
        height: 5px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
      }

      .change .bar:nth-child(1) {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        transform: rotate(-45deg) translate(-10px, 10px);
        -moz-transform: rotate(-45deg) translate(-10px, 10px);
        -ms-transform: rotate(-45deg) translate(-10px, 10px);
        -o-transform: rotate(-45deg) translate(-10px, 10px);
}
    
      .change .bar:nth-child(2) {
        opacity: 0;
      }
    
      .change .bar:nth-child(3) {
        -webkit-transform: rotate(45deg) translate(-10px, -10px);
        transform: rotate(45deg) translate(-10px, -10px);
      }
      
      .navbar-menu {
        flex:5;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display:none; /* Initially hide the menu */
      }
      
      .navbar-menu.show {
        display: flex;
        justify-content: center;
        gap:100px;
        width:100%;
      }
      
      .navbar-menu li {
        float: left;
      }
      
      .navbar-menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size:30px;
      }
      
      .navbar-menu li a:hover {
        background-color: #111;
      }
  }
}

.proj {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);

  .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: rgb(196, 196, 196);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  h1 {
      color: #333;
  }
  .project {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid darkgrey;
      border-radius: 5px;
  }
  .project h2 {
      margin-top: 0;
  }
  .project a {
    text-decoration: none;
    color: black;
  }
  .project p {
      margin-bottom: 5px;
  }

  .navbar {
    background-color: rgb(48, 48, 48);
    overflow: hidden;
    display: flex;
    height:8vh;

    .navbar-toggle {
        position: absolute;
        display:flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:4vh;
        left: 4vh;

      }
      
      .bar {
        width: 50px;
        height: 5px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
      }

      .change .bar:nth-child(1) {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        transform: rotate(-45deg) translate(-10px, 10px);
        -moz-transform: rotate(-45deg) translate(-10px, 10px);
        -ms-transform: rotate(-45deg) translate(-10px, 10px);
        -o-transform: rotate(-45deg) translate(-10px, 10px);
  }
    
      .change .bar:nth-child(2) {
        opacity: 0;
      }
    
      .change .bar:nth-child(3) {
        -webkit-transform: rotate(45deg) translate(-10px, -10px);
        transform: rotate(45deg) translate(-10px, -10px);
      }
      
      .navbar-menu {
        flex:5;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display:none; /* Initially hide the menu */
      }
      
      .navbar-menu.show {
        display: flex;
        justify-content: center;
        gap:100px;
        width:100%;
      }
      
      .navbar-menu li {
        float: left;
      }
      
      .navbar-menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size:30px;
      }
      
      .navbar-menu li a:hover {
        background-color: #111;
      }
  }
}

